html {
    font-size:100%;
    box-sizing:border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: $Gray;
    font-weight: 300;
}

@media (max-width: $breakpoint-mobile) {
    h1 {
        font-size: 1.5em;
    }
  }

p {
    text-align: center;
    color: $VeryDarkBlue;
}

@media (max-width: $breakpoint-mobile) {
    p {
        font-size: 1em;
    }
  }



.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 5%;
}

@media (max-width: $breakpoint-mobile) {
    .logo {
        width: 15%;
    }
  }

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }

@media (max-width: $breakpoint-mobile) {
    .image {
        width: 80%;
        margin-top:50px;
        margin-bottom:100px;
        }
    }

.div-im {
    position: relative;
}

.black-text {
    color: $VeryDarkBlue;
    font-weight: 600;
}

.flex {
display: flex;
align-items: center;
justify-content: center;
}


@media (max-width: $breakpoint-mobile) {
    .flex {
      flex-direction: column;
    }
  }

#validation-text {
    color: $LightRed;
    font-size:10px;
    text-align: center;
    padding-right:190px;
    
}

@media (max-width: $breakpoint-mobile) {
    #validation-text {
        padding-right:0;
    }
  }

.round_button {
  border: 1px solid $PaleBlue;
  border-radius: 30px;
  padding: 13px 90px 13px 20px;
  color:$PaleBlue;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 10px;
}

@media (max-width: $breakpoint-mobile) {
    .round_button {
        width: 80%;
        margin: 10px 20px;
    }
  }



.round_button:focus {
    color: black;
}

.round_button_2 {
  border: none;
  border-radius: 30px;
  background-color: $primaryBlue;
  color: white;
  padding: 13px 30px 13px 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: rgba(148, 166, 185, 0.4) 0px 8px 24px;
}

@media (max-width: $breakpoint-mobile) {
    .round_button_2 {
        
        width: 80%;
        text-align: center;
    }
  }



.flex-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    }

ion-icon {
    font-size: 30px;
    padding: 10px;
    color: $primaryBlue;
}

@media (max-width: $breakpoint-mobile) {
    ion-icon {
        font-size: 20px;
        padding: 5px;
    }
  }


ion-icon:hover {
    color: $PaleBlue;
}

.attribution {
    color: $Gray;
}